/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
/* Thanks a lot http://css-spinners.com/css/spinner/throbber.css */
@-webkit-keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}
@keyframes throbber {
  0% {
    background: #dde2e7;
  }

  10% {
    background: #6b9dc8;
  }

  40% {
    background: #dde2e7;
  }
}

/* :not(:required) hides these rules from IE9 and below */
.throbber:not(:required) {
  -webkit-animation: throbber 2000ms 300ms infinite ease-out;
  -moz-animation: throbber 2000ms 300ms infinite ease-out;
  -ms-animation: throbber 2000ms 300ms infinite ease-out;
  -o-animation: throbber 2000ms 300ms infinite ease-out;
  animation: throbber 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.6em;
  height: 0.8em;
  margin: 0 1.2em;
}
.throbber:not(:required):before, .throbber:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.6em;
  height: 0.8em;
  position: absolute;
  top: 0;
}
.throbber:not(:required):before {
  -webkit-animation: throbber 2000ms 150ms infinite ease-out;
  -moz-animation: throbber 2000ms 150ms infinite ease-out;
  -ms-animation: throbber 2000ms 150ms infinite ease-out;
  -o-animation: throbber 2000ms 150ms infinite ease-out;
  animation: throbber 2000ms 150ms infinite ease-out;
  left: -1.2em;
}
.throbber:not(:required):after {
  -webkit-animation: throbber 2000ms 450ms infinite ease-out;
  -moz-animation: throbber 2000ms 450ms infinite ease-out;
  -ms-animation: throbber 2000ms 450ms infinite ease-out;
  -o-animation: throbber 2000ms 450ms infinite ease-out;
  animation: throbber 2000ms 450ms infinite ease-out;
  right: -1.2em;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.brand-logo {
  height: 36px;
  margin-top: -8px;
}
.ext-link {
  margin-right: 12px;
}
.how-to {
  display: inline-block;
  float: right;
}
.site-item {
  margin-bottom: 12px;
}
.site-link {
  background-image: url(favicon.png);
  background-size: 32px;
  background-repeat: no-repeat;
  padding-left: 54px;
  background-position: 4px 50%;
  position: relative;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-item.loading .site-link {
  text-align: center;
  padding-left: 0;
}
.site-item.new {
  -webkit-animation: tada 2000ms 300ms ease-out;
  animation: tada 2000ms 300ms ease-out;
}
.admin-link {
  position: absolute;
  right: 10%;
  top: 25%;
}
.dropdown-icon {
  padding-right: 8px;
  position: relative;
  top: 2px;
}
.add-new.list-group-item {
  border: none;
  background: none;
  padding-left: 0;
}
.add-new.list-group-item:hover {
  background: none;
  color: #e24b70;
}
.add-new.list-group-item:focus {
  outline: none;
} 
.footer {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
  }
}
a {
  color: #3b454f;
}
a:hover {
  color: #3b454f;
}
.giphy-wrap {
  height: 200px;
}
.giphy {
  margin: 0 auto;
}